/*************************************************************

						GENERAL STYLES

**************************************************************/
*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

/*************************************************************

						BODY

**************************************************************/
body{
	text-align: center;
	font-family: Arial;
	font-size: 10px;
	color: #303030;	
}

header, nav, section, aside, footer {
	display: block;
}

img {
	border: none;
}

/*************************************************************

						HEADERS

**************************************************************/
h2{/**Main header **/
	font-family: Arial;
	font-size: 14px;
	color: #404040;
}

h3{/**Form Titles **/
	margin-bottom: 15px;
	font-family: Arial;
	font-size: 22px;
	color:white;
	text-shadow: 1px 1px 3px #080808;
}

h4{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	color: #606060;
}

h5{/**Prompt for Shipping**/
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	color: #404040;
}

h6{/**Address for Shipping**/
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	color: #606060;
}
/*************************************************************

						TABLES

**************************************************************/
table{
	width: 100%
	text-align: center;
}

th{ /**table header **/
	color: #888888;
	font-weight: normal;
	text-decoration: underline;
}

td{
	padding: 3px 10px;
}
/*************************************************************

						LINKS

**************************************************************/
a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover{
	color: #CC6600;
	text-decoration: underline;
}

a:active{
	color: #CC6600;
	text-decoration: underline;
}