*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

body{
	text-align: center;
	font-family: Arial;
	font-size: 10px;
	color: #303030;	
}

header, nav, section, aside, footer {
	display: block;
}

img {
	border: none;
}